<?xml version="1.0"?>
<launch>
	<arg name="robot_ip"     default ="localhost"                     />
	<arg name="min_payload"  default ="0.0"                           />
	<arg name="max_payload"  default ="5.0"                           />
	<arg name="prefix"       default ="ur_"                           />
	<arg name="max_velocity" default ="10.0"                          /> <!-- [rad/s] -->
	<arg name="base_frame"   default ="$(arg prefix)base"             />
	<arg name="tool_frame"   default ="$(arg prefix)tool0_controller" />

	<arg name="cloud_topic"     default ="/camera/depth_registered/points"           />
	<arg name="cloud_frame"     default ="world"                                     />
	<arg name="cloud_type"      default ="0"                                         />
	<arg name="svm_file_name"   default ="$(find agile_grasp)/svm_032015_20_20_same" />
	<arg name="num_samples"     default ="4000"                                      />
	<arg name="num_threads"     default ="4"                                         />
	<arg name="num_clouds"      default ="1"                                         />
	<arg name="min_inliers"     default ="10"                                        />
	<arg name="plotting"        default ="2"                                         />
	<arg name="marker_lifetime" default ="5"                                         />

	<include file ="$(find agile_demo_bringup)/launch/ur5_ros_control.launch">
		<arg name="robot_ip"     value ="$(arg robot_ip)"     />
		<arg name="min_payload"  value ="$(arg min_payload)"  />
		<arg name="max_payload"  value ="$(arg max_payload)"  />
		<arg name="prefix"       value ="$(arg prefix)"       />
		<arg name="max_velocity" value ="$(arg max_velocity)" /> <!-- [rad/s] -->
		<arg name="base_frame"   value ="$(arg base_frame)"   />
		<arg name="tool_frame"   value ="$(arg tool_frame)"   />
	</include>

	<include file ="$(find agile_grasp)/launch/single_camera_grasps.launch">
		<arg name="cloud_topic"     value ="$(arg cloud_topic)"     />
		<arg name="cloud_frame"     value ="$(arg cloud_frame)"     />
		<arg name="cloud_type"      value ="$(arg cloud_type)"      />
		<arg name="svm_file_name"   value ="$(arg svm_file_name)"   />
		<arg name="num_samples"     value ="$(arg num_samples)"     />
		<arg name="num_threads"     value ="$(arg num_threads)"     />
		<arg name="num_clouds"      value ="$(arg num_clouds)"      />
		<arg name="min_inliers"     value ="$(arg min_inliers)"     />
		<arg name="plotting"        value ="$(arg plotting)"        />
		<arg name="marker_lifetime" value ="$(arg marker_lifetime)" />
	</include>

	<node name ="pointcloud_publisher" pkg="agile_demo_vision" type="pointcloud_publisher" output="screen" />
	<node name ="coordinator" pkg="agile_demo_core" type="coordinator" output="screen" />

</launch>
